<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    {% block styles %}{% endblock styles %}

</head>

<body class="bg-gradient-to-t from-gray-700 via-gray-900 to-black flex flex-col justify-between h-screen">

    {% comment %} NAVEGACIÓN {% endcomment %}
   {% include "./partials/menu.html" %}


    {% comment %} CONTENIDO {% endcomment %}
    <main class="container mx-4">
        {% block content %}
        {% endblock content %}
    </main>

    {% comment %} FOOTER {% endcomment %}
   {% include "./partials/footer.html" %}

    {% comment %} SCRIPTS {% endcomment %}
   {% block scripts %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
   {% endblock scripts %}
</body>

</html>
